#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=totem
Name[en_US]=BCompare
Exec=/usr/bin/bcompare
Name=BCompare
Icon=/usr/share/pixmaps/bcompare.png
