#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Net Beans
Exec=/usr/local/netbeans-8.0.2/bin/netbeans
Comment[en_US]=NetBeans editor (Java/C++)
Name=Net Beans
Comment=NetBeans editor (Java/C++)
Icon=gnome-panel-launcher
