#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=PC2 ScoreBoard
Exec=/usr/local/pc2/bin/pc2board --ini /usr/local/pc2/pc2v9.ini
Comment[en_US]=PC2 ScoreBoard
Name=PC2 ScoreBoard
Comment=PC2 ScoreBoard
Icon=gnome-panel-launcher
